In [2]:
import pandas as pd
import numpy as np
import scipy
import math
import statistics as st
import scipy.stats as scst
import statsmodels.api
import matplotlib.pyplot as plt
import pylab

In [3]:
data = pd.read_csv('./weeklies.txt')

In [4]:
data

                  magazine  current  lastyear
0            Business Week    88.36    118.03
1            The Economist    48.00     65.00
2                 Newsweek    17.73     42.78
3         The New Republic     9.33     10.47
4                     Time    19.46     71.37
5   US News & World Report    11.00     38.09
6      The Weekly Standard    10.00     14.00
7                Auto Week    25.41     22.33
8     Entertainment Weekly    36.00     29.36
9               Golf World    33.67     14.32
10                New York    44.00     88.80
11                  People    55.73     85.62
12       The Sporting News     7.70      7.00
13      Sports Illustrated    38.14     74.70
14          The New Yorker    27.37     33.53
15                TV Guide    82.02     41.44
16               US Weekly    38.33     20.00
17                  Parade     9.63     13.04
18             USA Weekend     8.00     10.75

In [5]:
diff = data.current - data.lastyear

In [8]:
scipy.stats.ttest_rel(data.current, data.lastyear, axis = 0, nan_policy = 'propagate')

Ttest_relResult(statistic=-1.853565220621631, pvalue=0.08026526054859673)

In [9]:
scst.shapiro(data.current - data.lastyear)

ShapiroResult(statistic=0.9742279648780823, pvalue=0.8566572070121765)

In [16]:
machines = pd.read_csv('./machine.txt', delimiter = ' ')

In [17]:
machines

    strength machine
0       43.6       O
1       78.4       O
2       62.1       O
3       65.1       O
4       69.2       O
..       ...     ...
95      66.0       N
96      82.7       N
97      62.0       N
98      67.0       N
99      70.2       N

[100 rows x 2 columns]

In [19]:
old = machines[machines['machine'] == 'O']

In [20]:
new = machines[machines['machine'] == 'N']

In [21]:
old_strength = old.strength

In [22]:
new_strength = new.strength

In [28]:
scst.bartlett(old_strength, new_strength)

BartlettResult(statistic=0.6315369490124062, pvalue=0.4267921108095075)

In [30]:
scst.ttest_ind(old_strength, new_strength, axis = 0, equal_var = True, alternative = "greater")

Ttest_indResult(statistic=-3.9304389129902706, pvalue=0.9999209478741791)

In [31]:
wip = pd.read_csv('./wip.txt', delimiter = ' ')

In [32]:
wip

     time  plant
0    5.62      1
1    5.29      1
2   16.25      1
3   10.92      1
4   11.46      1
5   21.62      1
6    8.45      1
7    8.58      1
8    5.41      1
9   11.42      1
10  11.62      1
11   7.29      1
12   7.50      1
13   7.96      1
14   4.42      1
15  10.50      1
16   7.58      1
17   9.29      1
18   7.54      1
19   8.92      1
20   9.54      2
21  11.46      2
22  16.62      2
23  12.62      2
24  25.75      2
25  15.41      2
26  14.29      2
27  13.13      2
28  13.71      2
29  10.04      2
30   5.75      2
31  12.46      2
32   9.17      2
33  13.21      2
34   6.00      2
35   2.33      2
36  14.25      2
37   5.37      2
38   6.25      2
39   9.71      2

In [34]:
time1 = wip[wip.plant == 1]

In [36]:
time2 = wip[wip.plant == 2]

In [39]:
scst.mannwhitneyu(time1, time2, use_continuity = True, alternative = 'two-sided')

MannwhitneyuResult(statistic=array([135.5,   0. ]), pvalue=array([8.34006058e-02, 4.68268236e-10]))